* {
    margin: 0;
}

html, body {
    height: 100%;
    font-size: 100%;
}

body {
    background-color:#151515;
    color:#f0e68cd3;
}

a {
    text-decoration: none;
    color: #f0e68cd3;
}

a:hover {
    text-decoration: underline;
}

button {
    visibility: hidden;
    position: fixed;
    height: 35px;
    top:0
}

h1 {
    text-align: center;
    font-variant: small-caps;
    font-size: 2.5em;
    padding-top: 32px;
}

h1 .logo img {
    height: 2em;
    vertical-align: middle;
}

h3 {
    text-align: center;
    padding: 10px 30px 30px;
}

h4 {
    font-size: 1.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

h5 {
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-weight: bold;
}

#page h5 {
    text-align: center;
}

li {
    font-size: 1.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    float: none;
}

table, th, td {
    border: 1px solid #777;
    border-spacing: 0;
    padding: 2px;
    width: 400px;
    margin: 20px 100px 0px;
}

th, td, caption {
    padding: 5px;
    font-size: 1.3em;
}

.bas {
    padding: 10px 10px 0px;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.demi {
    flex: 50%;
    min-width: 420px;
}

.demi .cadre {
    width: 250px;
    padding: 0px;
    text-indent: 5px;
    height: auto;
    grid-gap: 5px;
}

#droit {
    width: 400px;
    height: 400px;
}

#footer {
    width: 100%;
    text-align: center;
    background-color: #333;
    opacity: 100%;
    margin: 0;
}

#footer a, #footer a:hover, #footer a:visited {
    text-decoration: none;
    color: white;
    font-size: 0.875em;
}

#footup {
    min-height: 100%;
    margin-bottom: -20px;
}
#footup::after {
    content: "";
    display: block;
}

#main {
    width: 100%;
}

.active {
    background-color: #04AA6D;
}

.cadre {
    margin: 15px auto;
    border: 1px solid #777;
    width: 400px;
    height: 150px;
    display: grid;
    overflow-y: auto;
}

.cadre:hover {
    border: 1px solid #ccc;
}

.corps {
    padding: 5px 15px;
    height: auto;
}

.grille {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}

.haut {
    padding: 10px;
}

.rouge {
    background-color:#550d01 ;
}

.titre {
    background-color:#261979;
    color: black;
    padding: 5px;
    height: 30px;
}

.long {
    margin-top: 25px;
    width: auto;
    text-align: center;
}

.unique {
    margin: auto;
    border: none;
    height: auto;
    min-width: 600px;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-y: unset;
}

.unique:hover {
    border: none;
}

.vert {
    background-color: #014e18;
}

div.dropdown {
    position: fixed;
    top: 0;
}

ul.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li.home {
    float: right;
    border-left: 1px solid #bbb;
}

ul.topnav a {
    display: block;
    padding: 6px 7px;
    font-size: 0.875em;
    color: white;
    text-decoration: none;
    text-align: center;
}

ul.topnav li a:hover {
    background-color: #111;
}

ul.topnav li a.active:hover {
    background-color: #04AA6D;
}

@media screen and (max-width: 600px) {
    button {
        visibility: visible;
    }
    
    h1 {
        padding-top: 15px;
    }

    h1, h3 {
        margin-left: 40.85px;
    }

    #droit {
        width: 250px;
        height: 250px;
    }
    
    #footer {
        height: 18px;
    }

    #footer a, #footer a:hover, #footer a:visited {
        font-size: 0.67em;
        margin-bottom: 10px;
    }

    div.dropdown:hover ul.topnav, button ul.topnav {
        display: block;
    }

    .unique {
        min-width: unset;
    }

    li {
        font-size: 0,67em;
    }

    ul.topnav {
        display: none;
        margin-left: 40.85px;
        padding-bottom: 5px;
    }

    ul.topnav li, ul.topnav li.home {
        float: none;
    }

    ul.topnav a {
        padding: 7px 8px;
        font-size: 0.875em;
    }
}

@media screen and (max-height: 160px) {
    ul.topnav {
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
        z-index: 100;
    }
}

@media screen and (min-width: 750px) {
    h1 {
        padding-top: 50px;
    }

    #footer a, #footer a:hover, #footer a:visited {
        font-size: 1em;
    }

    ul.topnav li a {
        padding: 14px 16px;
        font-size: 1em;
    }

    .long {
        font-size: 1.67em;
    }

    #droit {
        width: 500px;
        height: 500px;
    }
}